@{
    ViewBag.Title = "Giới thiệu về chúng tôi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Chúng tôi là một Startup khởi nghiệp áp dụng các công nghệ tiên tiến nhất của hệ thống thương mai điện tử</p>
