@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    30 - đường Phạm Hùng, Mỹ Đình, Nam Từ Liêm, Tp Hà Nội<br />
   
    <abbr title="Hotline">Hotline</abbr>
    1900xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>