@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gosanbay.com</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wellcome to Gosanbay.com</h2>
        <p>
            Dịch vụ đưa đón hành khách đi sân bay Nội Bài nhanh chóng thuận tiện, giá hợp lý
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Chúng tôi luôn sẵn sàng phục vụ</h2>
        <p>Dù bạn ở đâu chỉ cần nhấc máy gọi đến số 1900xxx chúng tôi sẽ đến đón bạn tại nhà</p>

    </div>
    <div class="col-md-4">
        <h2>Chất lượng dịch vụ tốt nhất! Giá rẻ nhất</h2>
        <p>Khách hàng là thượng đế.</p>

    </div>
</div>